.button {
    background-color: #1B58A4;
    color: #fff;
    padding: 14px;
    min-width: 100px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: #1c67c2;
}