.header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 130px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.header h1 {
    font-size: 2rem;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}